.mobile-menu
    .container
        .main-header
            .main-header__logo
                a(href="index.html")
                    img(src="images/logo.png", alt="")
            nav.main-header__nav
                ul
                    li
                        a.active Главная
                    li
                        a(href="catalog-main.html") Каталог
                    li
                        a(href="sales.html") Акции
                    li
                        a(href="about.html") О нас
                    li
                        a(href="contacts.html") Контакты
            .main-header__icons
                ul
                    li
                        a(href="")
                            <svg width="100%" height="100%" viewBox="0 0 252 262" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-4.857,0)"><path d="M187.497,152.427L73.974,152.427C35.863,152.427 4.857,183.433 4.857,221.544L4.857,261.472L256.615,261.472L256.615,221.544C256.614,183.433 225.608,152.427 187.497,152.427ZM241.614,246.473L19.856,246.473L19.856,221.545C19.856,191.705 44.133,167.428 73.973,167.428L187.496,167.428C217.336,167.428 241.613,191.705 241.613,221.545L241.614,246.473Z" style="fill-rule:nonzero;"/><path d="M130.735,145.326C170.801,145.326 203.398,112.729 203.398,72.663C203.398,32.597 170.802,0 130.735,0C90.668,0 58.072,32.596 58.072,72.663C58.072,112.73 90.669,145.326 130.735,145.326ZM130.735,15C162.531,15 188.398,40.867 188.398,72.663C188.398,104.459 162.531,130.326 130.735,130.326C98.939,130.326 73.072,104.458 73.072,72.663C73.072,40.868 98.939,15 130.735,15Z" style="fill-rule:nonzero;"/></g></svg>
                    li
                        a(href="")
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 317.182 317.182" style="enable-background:new 0 0 317.182 317.182;" xml:space="preserve"><g><path d="M185.757,0C114.507,0,56.542,57.966,56.542,129.215c0,34.055,13.249,65.069,34.855,88.175L2.212,306.575l10.606,10.607l89.44-89.44c22.537,19.129,51.691,30.688,83.498,30.688c71.249,0,129.214-57.966,129.214-129.215S257.006,0,185.757,0zM185.757,243.43c-62.979,0-114.215-51.236-114.215-114.215S122.778,15,185.757,15c62.978,0,114.214,51.236,114.214,114.215S248.734,243.43,185.757,243.43z"/></svg>
                    li
                        a(href="")
                            <svg width="100%" height="100%" viewBox="0 0 490 490" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-11,-11)"><path d="M464.5,301.1L501,123.1L141.3,123.1L128.8,63.9L20.4,11L11,29.7L110,77.5L160,316.3L449,316.3C449,316.3 477.5,334.2 466.5,356.8C461.6,363.8 454,372.4 440.4,372.4L152.8,372.4L152.8,393L440.5,393C460.3,393 477,382.6 486.4,366C504.8,331.6 464.5,301.1 464.5,301.1ZM177.8,295.4L145.5,143.8L476,143.8L444.7,295.4L177.8,295.4Z" style="fill-rule:nonzero;"/><path d="M212.2,422.1C190.3,422.1 172.6,439.7 172.6,461.5C172.6,483.3 190.3,500.9 212.2,500.9C234.1,500.9 251.8,483.3 251.8,461.5C251.8,439.7 234.1,422.1 212.2,422.1ZM212.2,480.2C201.8,480.2 193.4,471.9 193.4,461.5C193.4,451.1 201.7,442.8 212.2,442.8C222.7,442.8 231,451.1 231,461.5C231,471.9 222.6,480.2 212.2,480.2Z" style="fill-rule:nonzero;"/><path d="M424.9,422.1C403,422.1 385.3,439.7 385.3,461.5C385.3,483.3 403,501 424.9,501C446.8,501 465.6,483.4 464.5,461.6C464.5,439.8 446.8,422.1 424.9,422.1ZM443.7,461.6C443.7,472 435.4,480.3 424.9,480.3C414.4,480.3 406.1,472 406.1,461.6C406.1,451.2 414.4,442.9 424.9,442.9C435.4,442.9 444.7,451.2 443.7,461.6Z" style="fill-rule:nonzero;"/></g></svg>

        .mobile-menu__wrapper
            ul
                li
                    a.active(href="index.html") Главная
                li
                    a(href="catalog-main.html") Каталог
                li
                    a(href="sales.html") Акции
                li
                    a(href="about.html") О нас
                li
                    a(href="contacts.html") Контакты