.search {
    margin-bottom: 160px;
}

.search__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    h2 {
        font-size: 50px;
        font-weight: 500;
        @media (max-width: 768px) {
            font-size: 40px;
        }
        @media (max-width: 767px) {
            font-size: 25px;
        }
    }
    .btn-border {
        @media (max-width: 767px) {
            display: none;
        }
    }
    @media (max-width: 767px) {
        padding-bottom: 20px;
        margin-bottom: 0;
        border-bottom: 1px solid #d7d2cb;
    }
}

.search__enter {
    margin-bottom: 70px;

    input {
        padding: 10px 20px;
        border: none;
        border-bottom: 1px solid #d7d2cb;
        width: 100%;
        background-image: url("../images/icons/glass.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 22px 22px;
    }
    @media (max-width: 767px) {
        margin-bottom: 30px;
    }
}

.search__inner-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    @media (max-width: 767px) {
        font-size: 20px;
    }
}

.search__items {
    display: flex;
    flex-wrap: wrap;
    .item-cart {
        width: calc(100% / 6);
        @media (max-width: 1024px) {
            width: calc(100% / 4);
        }
        @media (max-width: 768px) {
            width: calc(100% / 3);
        }
        @media (max-width: 767px) {
            width: calc(100% / 2);
        }
    }
}
