doctype html
html(lang="ru")
	head
		include modules/head.pug
	body
		.content
			include modules/header.pug

			main
				//- mobile menu
				include modules/mobile-menu
				//- hero
				.breadcrumbs
					.container
						ul
							li
								a.active(href="index.html") Главная
							li.breadcrumbs__line
								span |
							li
								a О нас
				.about
					.container
						.about__header
							h2.title О нас
							a.btn-border(href="index.html") На главную
					.about__bg1
					.container-inner
						.about__text
							h3 Мы 
								span Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
							p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Рыбными запятой раз однажды назад вершину то своего составитель, наш скатился. Они что большой переписали города рот первую, правилами необходимыми речью встретил это последний маленькая власти использовало журчит. Семантика мир от всех реторический маленькая подпоясал несколько продолжил домах языкового ведущими даже.
							p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Рыбными запятой раз однажды назад вершину то своего составитель, наш скатился. Они что большой переписали города рот первую, правилами необходимыми речью встретил это последний маленькая власти использовало журчит. Семантика мир от всех реторический маленькая подпоясал несколько продолжил домах языкового ведущими даже.
							p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Рыбными запятой раз однажды назад вершину то своего составитель, наш скатился. Они что большой переписали города рот первую, правилами необходимыми речью встретил это последний маленькая власти использовало журчит. Семантика мир от всех реторический маленькая подпоясал несколько продолжил домах языкового ведущими даже.
							p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Рыбными запятой раз однажды назад вершину то своего составитель, наш скатился. Они что большой переписали города рот первую, правилами необходимыми речью встретил это последний маленькая власти использовало журчит. Семантика мир от всех реторический маленькая подпоясал несколько продолжил домах языкового ведущими даже.
							p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Рыбными запятой раз однажды назад вершину то своего составитель, наш скатился. Они что большой переписали города рот первую, правилами необходимыми речью встретил это последний маленькая власти использовало журчит. Семантика мир от всех реторический маленькая подпоясал несколько продолжил домах языкового ведущими даже.
							a.btn-border(href="catalog.html") В каталог
						//- advantages
						.advantages
							.container-inner
								ul
									li
										h2 < 10 лет
										p мы занимаемся продажами
									li
										h2 < 10 000
										p довольных покупателей
									li
										h2 Уже 500
										p поставщиков сотрудничает с нами
									li
										p Обслуживание на
										h2 наивысшем
											p уровне
									li
										h2 Только свежая
										p продукция на полках нашего магазина
									li
										h2 Еще один
										p плюс тут будет написан, а пока текст
					.about__bg2
					.about__list
						.container-inner
							h3 Мы 
								span сотрудничаем с такими известными партнерами:
							ul.about__list-partners
								li.item.item--1
									//- img(src="images/partners/item1.png", alt="")
								li.item.item--2
									//- img(src="images/partners/item2.png", alt="")
								li.item.item--3
									//- img(src="images/partners/item3.png", alt="")
								li.item.item--4
									//- img(src="images/partners/item4.png", alt="")
								li.item.item--5
									//- img(src="images/partners/item5.png", alt="")
								li.item.item--1
									//- img(src="images/partners/item1.png", alt="")
								li.item.item--2
									//- img(src="images/partners/item2.png", alt="")
								li.item.item--3
									//- img(src="images/partners/item3.png", alt="")
								li.item.item--4
									//- img(src="images/partners/item4.png", alt="")
								li.item.item--5
									//- img(src="images/partners/item5.png", alt="")
								li.item.item--1
									//- img(src="images/partners/item1.png", alt="")
								li.item.item--2
									//- img(src="images/partners/item2.png", alt="")
				include modules/bottom-menu

							




			include modules/footer.pug
			
		include modules/script.pug