doctype html
html(lang="ru")
	head
		include modules/head.pug
	body
		.content
			include modules/header.pug

			main
				//- mobile menu
				include modules/mobile-menu
				//- hero
				.breadcrumbs
					.container
						ul
							li
								a.active(href="index.html") Главная
							li.breadcrumbs__line
								span |
							li
								a Каталог
				.catalog-main
					.container
						.catalog-main__header
							h2.title Каталог
							a(href="index.html").btn-border На главную
						.catalog-main__search
							input(type="text" placeholder="Поиск категории")
						.catalog-main__wrapper
							.catalog-main__inner
								ul.catalog-main__row
									li
										.item
											span.strong Новинка
											picture
												img(src="images/main-catalog/item1.jpg", alt="")
											.name Новинки
											.tegs
												a.active(href="") Овощи, 
												a(href="") фрукты, 
												a(href="") мясо, 
												a(href="") сыры, 
												a(href="") собстенное производство, 
												a(href="") и еще 5
									li
										.item
											span.strong Новинка
											picture
												img(src="images/main-catalog/item2.jpg", alt="")
											.name Новинки
											.tegs
												a(href="") Овощи,
												a(href="") фрукты,
												a(href="") мясо,
												a(href="") сыры,
												a(href="") собстенное производство,
												a(href="") и еще 5
									li
										.item
											span.strong Новинка
											picture
												img(src="images/main-catalog/item3.jpg", alt="")
											.name Новинки
											.tegs
												a(href="") Овощи,
												a(href="") фрукты,
												a(href="") мясо,
												a(href="") сыры,
												a(href="") собстенное производство,
												a(href="") и еще 5
									li
										.item
											picture
												img(src="images/main-catalog/item3.jpg", alt="")
											.name Новинки
											.tegs
												a(href="") Овощи,
												a(href="") фрукты,
												a(href="") мясо,
												a(href="") сыры,
												a(href="") собстенное производство,
												a(href="") и еще 5
									li
										.item
											picture
												img(src="images/main-catalog/item5.jpg", alt="")
											.name Новинки
											.tegs
												a(href="") Овощи,
												a(href="") фрукты,
												a(href="") мясо,
												a(href="") сыры,
												a(href="") собстенное производство,
												a(href="") и еще 5
									li
										.item
											picture
												img(src="images/main-catalog/item3.jpg", alt="")
											.name Новинки
											.tegs
												a(href="") Овощи,
												a(href="") фрукты,
												a(href="") мясо,
												a(href="") сыры,
												a(href="") собстенное производство,
												a(href="") и еще 5
									li
										.item
											picture
												img(src="images/main-catalog/item3.jpg", alt="")
											.name Новинки
											.tegs
												a(href="") Овощи,
												a(href="") фрукты,
												a(href="") мясо,
												a(href="") сыры,
												a(href="") собстенное производство,
												a(href="") и еще 5
									li
										.item
											picture
												img(src="images/main-catalog/item3.jpg", alt="")
											.name Новинки
											.tegs
												a(href="") Овощи,
												a(href="") фрукты,
												a(href="") мясо,
												a(href="") сыры,
												a(href="") собстенное производство,
												a(href="") и еще 5
									li
										.item
											span.strong Новинка
											picture
												img(src="images/main-catalog/item1.jpg", alt="")
											.name Новинки
											.tegs
												a(href="") Овощи,
												a(href="") фрукты,
												a(href="") мясо,
												a(href="") сыры,
												a(href="") собстенное производство,
												a(href="") и еще 5
									li
										.item
											span.strong Новинка
											picture
												img(src="images/main-catalog/item2.jpg", alt="")
											.name Новинки
											.tegs
												a(href="") Овощи,
												a(href="") фрукты,
												a(href="") мясо,
												a(href="") сыры,
												a(href="") собстенное производство,
												a(href="") и еще 5
									li
										.item
											span.strong Новинка
											picture
												img(src="images/main-catalog/item3.jpg", alt="")
											.name Новинки
											.tegs
												a(href="") Овощи,
												a(href="") фрукты,
												a(href="") мясо,
												a(href="") сыры,
												a(href="") собстенное производство,
												a(href="") и еще 5
									li
										.item
											span.strong Новинка
											picture
												img(src="images/main-catalog/item3.jpg", alt="")
											.name Новинки
											.tegs
												a(href="") Овощи,
												a(href="") фрукты,
												a(href="") мясо,
												a(href="") сыры,
												a(href="") собстенное производство,
												a(href="") и еще 5
									li
										.item
											span.strong Новинка
											picture
												img(src="images/main-catalog/item3.jpg", alt="")
											.name Новинки
											.tegs
												a(href="") Овощи,
												a(href="") фрукты,
												a(href="") мясо,
												a(href="") сыры,
												a(href="") собстенное производство,
												a(href="") и еще 5
									li
										.item
											span.strong Новинка
											picture
												img(src="images/main-catalog/item3.jpg", alt="")
											.name Новинки
											.tegs
												a(href="") Овощи,
												a(href="") фрукты,
												a(href="") мясо,
												a(href="") сыры,
												a(href="") собстенное производство,
												a(href="") и еще 5
									
									
				include modules/bottom-menu

							




			include modules/footer.pug
			
		include modules/script.pug