// $color-black: #000000;
// $color-blue: #00ccff;
// $color-white: #ffffff;
// $color-grey: #efefef;
// $color-violet: #8192ca;
$color-text: #262626;
$color-hover: #c62844;
$color-red: #ab2328;

$font-base: "Lora", sans-serif;
